.shortcut {
  user-select: none;
  font-size: 40px;
  cursor: pointer;
}
.shortcut-wrapper {
  width: 33%;
  display: flex;
  justify-content: center;
}

.extra {
  padding: 22px;
  font-size: 30px;
  display: none;
}
.shortcut:hover {
  animation: shortcut 150ms ease-in;
}
.shortcut:hover > i {
  display: none;
}
.shortcut:hover > .extra {
  display: block;
}
.shortcut i {
  font-style: normal !important;
}
