.weather-selector > * {
  display: inline-block;
}
.Dropdown-arrow-wrapper {
  margin-left: 5px;
  font-size: 10px;
}
.Dropdown-arrow-wrapper,
.Dropdown-placeholder {
  display: inline-block;
}
.weather-selector {
  display: inline-block;

  cursor: pointer;
  max-height: 200px;
  overflow-y: scroll;
}

.weather,
.weather-unloaded {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
.weather {
  animation: moveFromBottom 0.5s 0.75s ease-out backwards;
  margin-top: 12px;
}
.weather-unloaded .fa-spinner {
  animation: spin-right 1s ease-in-out infinite;
  font-size: 18px;
}
/* @keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes spin-right {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} */
