.autocomplete {
  position: absolute;
  margin-top: 5px;
}
.autocomplete-item{
  animation: fadeIn 30ms ease-out backwards;

  cursor: pointer;
  padding: 1px;
  font-size: 15px;
}
.autocomplete-item.selected {
  background-color: rgba(0, 0, 0, 0.2);
}