.weather-selector > * {
  display: inline-block;
}
.Dropdown-arrow-wrapper {
  margin-left: 5px;
  font-size: 10px;
}
.Dropdown-arrow-wrapper,
.Dropdown-placeholder {
  display: inline-block;
}
.weather-selector {
  display: inline-block;

  cursor: pointer;
  max-height: 200px;
  overflow-y: scroll;
}
.weather-selector::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.weather-selector::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
.weather-selector::-webkit-scrollbar-thumb {
  background: #fff0;
}

/* Handle on hover */
.weather-selector::-webkit-scrollbar-thumb:hover {
  background: #5550;
}

.no-terminal .clock {
  z-index: 5;
  transition: 450ms cubic-bezier(0.65, 0.05, 0.36, 1);
  user-select: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-74px);
}
.no-terminal .clock .clock-date {
  animation: moveFromRight 0.8s ease-out;

  font-size: 28px;
  cursor: pointer;
}
.no-terminal .clock .clock-time {
  animation: moveFromLeft 0.8s ease-out;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 76px;
  letter-spacing: 5px;
}

.weather,
.weather-unloaded {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: auto;
}
.weather {
  animation: moveFromBottom 0.5s 0.75s ease-out backwards;
  margin-top: 12px;
}
.weather-unloaded .fa-spinner {
  animation: spin-right 1s ease-in-out infinite;
  font-size: 18px;
}
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes spin-right {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
