:root {
  --rgx: #70b0e0;
  --w3: #04aa6d;
  --sp: #1db954;
  --wa: rgb(37, 211, 102);
  --imdb: #f5c518;
  --dis: #7772bd;
  --stack: rgb(254, 135, 0);
  --yt: rgb(254, 0, 0);
  --y: #a357ff;
  --fa: #1c7ed6;
  --url: #037fec;
  --fg: #ffb900;
}
.rgx::selection {
  background-color: var(--rgx) !important;
}
.w3::selection {
  background-color: var(--w3) !important;
}
.sp::selection {
  background-color: var(--sp) !important;
}
.wa::selection {
  background-color: var(--w3) !important;
  color: #333;
}
.imdb::selection {
  background-color: var(--imdb) !important;
  color: #333;
}
.dis::selection {
  background-color: var(--dis) !important;
}
.stack::selection {
  background-color: var(--stack) !important;
}
.yt::selection {
  background-color: var(--yt) !important;
}
.y::selection {
  background-color: var(--y) !important;
}
.r::selection {
  background-color: var(--r) !important;
}
.terminal.fa::selection {
  background-color: var(--fa);
}
.url::selection {
  background-color: var(--url) !important;
}
.fg::selection {
  background-color: var(--fg) !important;
}
