.search-result {
  animation: fadeIn 0.3s ease-out;
  font-size: 20px;
  padding: 10px;
  width: 40%;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.search-result h3 {
  margin: 0;
}
.search-result p {
  margin-bottom: 0;
  margin-top: 10px;
}
.search-result:hover {
  text-overflow: clip;
  transition: 500ms ease-out;
  display: absolut;
  overflow: overlay !important;
}
.search-result::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.search-result::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.search-result::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
.search-result::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
